* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {

    font-family: "Open Sans", sans-serif;

    background-image: url(files/bg.jpg);
    background-size: 2048px 3072px;
}

.text-home {
    color: #ef8f6f;
}

.content {
    min-height: 88vh;
    flex-grow: 1;
}

